{% extends "base.html" %}

{% block title %}3K/5K战法{% endblock %}

{% block container %}
    <div class="container mycontainer"  >
        <div class="col-md-5 col-lg-5  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12"  >
            <p class="titleword">3K/5K策略</p>
            <p >3根K线看转折,5根K线定趋势</p>
            <div style="margin-bottom: 10px"> 股票范围: <select class="selectpicker  dis-con " title="您预设的股票组">
                <option>自定义股票组1</option>
                <option>自定义股票组2</option>
                <option>自定义股票组3</option>
            </select></div>


        <div>
       开始时间:
       <input type="text"  class="form-control "  id="start"   ><br>
            结束时间:
          <input type="text"  class="form-control "  id="end"   ><br>

                <button type="button" class="btn btn-primary" id="loopback" >回测</button>
            </div>

        </div >
        <div class="col-md-6 col-lg-6 " >
            <p  class="titleword" style="clear: both">回测结果</p>
            <div style="position: relative">
            <table id="table"></table>
                <button type="button" class="btn btn-primary" id="confirm" >加入到股票池</button>
            </div>
        </div>
    </div>


    <div class="container mycontainer mid-div"  >
        <div class="col-md-4 col-lg-4  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12"  >
            <p class="titleword">股票池</p>
            <table id="tablepool"></table>

        </div >
        <div class="col-md-6 col-lg-6  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12"  >
            <p class="titleword sm-p">策略分析</p>
            <p>买入条件</p>
            <table id="tablebuy"></table>
            <p style="margin-top: 10px">卖出条件</p>
            <table id="tablesale"></table>

        </div >

    </div>


    <div class="container mycontainer mid-div"  >
        <div class="col-md-12 col-lg-12   col-xs-12 col-sm-12" id="kdiv">
            <p class="titleword">K线展示图</p>
            <div id="kline" ></div>

        </div >

    </div>
{% endblock %}

{% block datajs %}
<script type="text/javascript">
    var rawData = {{ list|safe }};
    var stocks = {{ stocks|safe }};
    var recommends = {{ recommendData|safe }};
</script>
{% endblock %}

{% block js %}
<script src="../static/js/Kline.js"></script>
{% endblock %}