{% extends "basePage.html" %}

{% block title %}3K/5K战法{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../static/css/3k5k.css">{% endblock %}


{% block container %}
    <div class="container mycontainer"  >
        <div class="col-md-5 col-lg-5  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12"  >
            <p class="titleword" id="title">3K/5K策略</p>
            <p> 3根K线看转折,5根K线定趋势</p>
            <div style="margin-bottom: 10px"> 股票范围: <select id = "selectGroup" class="selectpicker  dis-con " title="您预设的股票组">

            </select></div>

        <div>
       开始时间:
       <input type="text"  class="form-control "  id="start"   ><br>
            结束时间:
          <input type="text"  class="form-control "  id="end"   ><br>

                <!--<button type="button" class="btn btn-primary" id="periodConfirm" onclick="confirmPeriod()">确定</button>-->
            </div>

        </div >

        <div class="col-md-5 col-lg-5">
            <p  class="titleword" style="clear: both">参数设置</p>
            长阳线:
            <input type="text" class="form-control" id="long" ><br>
            短阳线:
            <input type="text" class="form-control" id="short" ><br>
            中阳线:
            <input type="text" class="form-control" id="mid" ><br>
            十字星:
            <input type="text" class="form-control" id="mini" ><br>
            <!--<a href="/3k5k/getRecommendStock?start=2016-01-01&end=2016-12-31&long=0.036&short=0.15&mid=0.035&mini=0.005"><button type="button" class="btn btn-primary" id="check" >检验</button></a>-->

        </div>
        <button type = "button" class="btn btn-default" data-toggle="modal" data-target="#myModal">策略描述</button>
        <button type="button" class="btn btn-primary" id="filtrate" style="float:right;margin-right:1.5%" onclick="filterStocks()">筛选股票</button>
    </div>


    <div class="container mycontainer mid-div" >
        <div class="col-md-4 col-lg-4  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12" >
            <p  class="titleword" style="clear: both">推荐股票</p>
            <div style="position: relative">
            <table id="table"></table>
                <button type="button" class="btn btn-primary" id="addStock" onclick = "addStocks()" >加入到股票池</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-6  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12">
            <p class="titleword">股票池</p>
            <div style="float:left">
            股票代码：
            <input type="text" class="form-control" id="st_code"><br></div>
            <button type="button" class="btn btn-primary" style="float:right;" id="addInputStock" onclick = "addInputStock()" >添加股票</button>
            <table id="tablepool"></table>
        </div>
        <!--
        <div class="col-md-4 col-lg-4  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12"  >
            <p class="titleword">股票池</p>
            <table id="tablepool"></table>

        </div >
        <div class="col-md-6 col-lg-6  col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12"  >
            <p class="titleword sm-p">策略分析</p>
            <p>买入条件</p>
            <table id="tablebuy"></table>
            <p style="margin-top: 10px">卖出条件</p>
            <table id="tablesale"></table>

        </div >
        -->

    </div>


    <div class="container mycontainer mid-div"  >
        <div class="col-md-4 col-lg-4 col-md-offset-1">
            <p class="titleword" >策略回测</p>
            <div style="height:40px"></div>
            <div>
                开始时间:
                <input type="text"  class="form-control "  id="loop_start"   ><br>
                结束时间:
                <input type="text"  class="form-control "  id="loop_end"   ><br>
                初始资金:
                <input type="text"  class="form-control "  id="ini_money"  value="1000000" ><br>

            </div>
            <div style="height:150px"></div>
            <button type="button" class="btn btn-primary" id="loopback" onclick = "backTest()" style="margin-right:5%">回测</button>

        </div >

        <div class="col-md-7 col-lg-7 col-xs-7 col-sm-7" id="kdiv">
            <p class="titleword">回测展示图</p>
            <div id="kline" ></div>

        </div >

    </div>

    <!-- 策略定义（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					3k/5k策略描述
				</h4>
			</div>
			<div class="modal-body">
                3k/5k策略利用了k线的不同形态来做分析，通过观察连续几天的k线形态，来判定当前趋势下是否会出现反转。涉及的参数包括长阳线、短阳线、中阳线和十字星的定义，即股价涨幅的程度。
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
{% endblock %}

{% block datajs %}
<script type="text/javascript">
    var rawData = {{ list|safe }};
    var stocks = {{ stocks|safe }};
    var recommends = {{ recommendData|safe }};
    var paraList = {{ paraList|safe }};
    var stockGroups = {{ stockGroups|safe }};

</script>
{% endblock %}

{% block js %}

<script src="../static/js/table.js"></script>
<script src="../static/js/3k5k.js"></script>

{% endblock %}