{% extends "basePage.html" %}

{% block title %}股票策略研究{% endblock %}

{% block container %}
        <div class="container">
          <div class="row">
            <div class="banner-info text-center wow fadeIn delay-05s">
              <h1 class="bnr-title">量化交易</h1>
              <h2 class="bnr-sub-title">开始您的财富之旅</h2>
              <p class="bnr-para"> 您可以运用我们提供的一些股票交易策略来进行实时股票交易 <br>从此使您告别手动操作股票交易的烦劳,让系统自动为您操盘</p>
              <div class="brn-btn">
                <a href="#" class="btn btn-download">开始使用</a>
                <a href="#feature" class="btn btn-more">了解更多</a>
              </div>
              <div class="overlay-detail">
                <a href="#feature"><i class="fa fa-angle-down"></i></a>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <!--/ HEADER-->
    <!---->
    <section id="feature" class="section-padding wow fadeIn delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="../static/img/ser01.png">
              </div>
              <h3 class="pad-bt15">多重组合策略</h3>
              <p>平台目前支持如3K/5K战法等主流股票交易策略</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="../static/img/ser02.png">
              </div>
              <h3 class="pad-bt15">精准预测</h3>
              <p>每一项策略都通过智能学习的方法进行参数修改,使策略性能达到最优</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="../static/img/ser03.png">
              </div>
              <h3 class="pad-bt15">实时交易</h3>
              <p>平台提供股票实时交易的入口,使您可以随时进行交易</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="wrap-item text-center">
              <div class="item-img">
                <img src="../static/img/ser04.png">
              </div>
              <h3 class="pad-bt15">安全可靠</h3>
              <p>平台采用主流的加密技术来保证您的资金安全</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonial" class="wow fadeInUp delay-05s">
      <div class="bg-testicolor">
        <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="bxslider">
              <li>
                <blockquote>
                  <img src="../static/img/display/wjy.png" class="img-responsive">
                  <p>这人啊一上年纪就容易冲动，过去一天平仓三次，麻烦！现在好了，有了股票交易平台，一平台顶五个人，高品质，我喜欢，买卖十支股票，不费劲儿！</p>
                </blockquote>
                <small>伍佳艺, 吃瓜群众</small>
              </li>
              <li>
                <blockquote>
                  <img src="../static/img/display/wd.png" class="img-responsive">
                  <p>神州行,我看行! </p>
                </blockquote>
                <small>王栋, 名字还没想好叫什么集团CEO</small>
              </li>
              <li>
                <blockquote>
                  <img src="../static/img/display/sxc.png" class="img-responsive">
                  <p>平台在手,股市我有</p>
                </blockquote>
                <small>孙晓晨,资深股票专家</small>
              </li>
              <li>
                <blockquote>
                  <img src="../static/img/display/wp.png" class="img-responsive">
                  <p>用了平台后,我就定了个小目标,先赚他一个亿</p>
                </blockquote>
                <small>汪盼, 资深股民</small>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </section>
{% endblock %}