{% extends "maStrategy.html" %}

{% block maStrategyTest %}
    <div class="navbar-default">
        <ul class="nav nav-tabs" style = "font-size:30px">
          <li role="presentation" ><a href="/maStrategy/singleTest">个股回测</a></li>
          <li role="presentation" class="active"><a href="/maStrategy/multiTest">批量回测</a></li>
          <li role="presentation"><a href="/maStrategy/autoTest">自动寻优</a></li>
        </ul>
    </div>
    <h3>参数设置</h3>
    时间:<input class="date-input"  id="start"   > —— <input type="text"  class="date-input"  id="end"   >
    <br>
    <div style = "margin-top:20px">
    n: <input type="text" id="n" class="stock-input" style = "margin-left:35px">
    m: <input type="text" id="m" class="stock-input" style = "margin-left:20px">
    <button style = "margin-left:100px" type="button" class="btn btn-primary submit-btn" id="multiTest" onclick="multiTest()">批量回测</button>   
    </div>
    <h3>回测结果</h3>
    <div style = " margin-bottom: 300px;width:400px">
    <table id="testResult"></table>
    </div>

{% endblock %}

{% block js %}
 {{ block.super }}
<script src="../static/js/maMultiTest.js"></script>
{% endblock %}