{% extends "basePage.html" %}

{% block title %}双均线策略{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../static/css/strategy.css">{% endblock %}

{% block container %}
 <div class="container mycontainer"  >
    <div class="col-md-12">
        <h2>策略描述</h2>
        <p>双均线策略，设置n天移动平均线为短期移动平均线，m天移动平均线为长期移动平均线。短期移动平均线向上穿过长期移动平均线为买入点，向下穿过长期移动平均线为卖出点。</p>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        {% block maStrategyTest %}{% endblock %}
        
    </div>
    <hr>
    

</div>
{% endblock %}


{% block js %}
<script src="../static/js/date.js"></script>
{% endblock %}
