{% extends "base.html" %}

{% block title %}不知名策略{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../static/css/strategy.css">{% endblock %}

{% block container %}
 <div class="container mycontainer"  >

    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
        <p class="titleword">股票池</p>
        <table id="tablepool"></table>
    </div>

    <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
        <p class="titleword">检测</p>

        <div style="overflow: hidden">
            时间:<input class="date-input"  id="start"   > —— <input type="text"  class="date-input"  id="end"   >
                测试股票:<input type="text"  class="stock-input">
                <button type="button" class="btn btn-primary submit-btn" id="confirm" >校验</button>
        </div>


        <div id="folding" >

        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="../static/js/stategtTable.js"></script>
<script src="../static/js/folding.js"></script>
{% endblock %}
{% extends "base.html" %}
