{% extends "basePage.html" %}

{% block title %}股票池{% endblock %}

{% block container %}
 <div class="container mycontainer">
    <div class = "col-md-4">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/stockpool/showStock">查看股票</a></li>
            <li role="presentation"><a href="/stockpool/showStockPool">管理股票池</a></li>
        </ul>
    </div>
    <div class = "col-md-8">

    {% block rightContainer %}
    {% endblock %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="../static/js/manageStockPool.js"></script>
{% endblock %}
