{% extends "basePage.html" %}

{% block title %}svm策略{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="../static/css/strategy.css">{% endblock %}

{% block container %}
 <div class="container mycontainer"  >
    <div class="col-md-12">
        <h2>策略描述</h2>
        <p>提取股票的MA,BIAS,PSY,RSV_K_D_J,RSI,WR 等参数作为每日数据的特征值,预测第二天的涨跌情况. </p>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <h2>参数设置</h2>
        <div  style="margin-bottom:30px">
        时间:<input class="date-input"  id="start"   > —— <input type="text"  class="date-input"  id="end"   >
        训练股票:<input type="text" id="code" class="stock-input">
        <br>
        验证时间:<input class="date-input"  id="verifystart"   > —— <input type="text"  class="date-input"  id="verifyend"   >
        <button style = "margin-top:20px;margin-left: 100px" type="button" class="btn btn-primary submit-btn" id="confirm" onclick="train()">训练</button>
        </div>


    </div>
    
   <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <h2>回测结果</h2>
            <div style = " margin-bottom: 300px;width:400px">
                <table id="testResult"></table>
            </div>    
    </div>
    <hr>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <h2>个股回测</h2>
    时间:<input class="date-input"  id="teststart"   > —— <input type="text"  class="date-input"  id="testend"   >
    测试股票:<input type="text" id="testcode" class="stock-input">
    <br>
    <div style = "margin-top:20px">
            <button style = "" type="button" class="btn btn-primary submit-btn" id="confirm" onclick="testSVM()">校验</button>
    <div>
    <h3>回测结果</h3>
    <div id="backTest" style = "width:750px;height:400px">

    </div>
 </div>

</div>
{% endblock %}


{% block js %}
<!-- <script src="../static/js/stategtTable.js"></script>-->
<script src="../static/js/date.js"></script> 
<script src="../static/js/testdate.js"></script> 
<script src="../static/js/svm.js"></script> 
<script src="../static/js/backTest.js"></script>
{% endblock %}
